html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Sigmar One, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

  background-color: #090909;
  color: #e8e8e8;
  width: 100vw;
  scroll-behavior: smooth;
  font-size: 16px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#__next {
  height: 100%;
}

@media (max-width: 900px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "mmrtext";
  src: url("/fonts/mmrtext.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "sigmarone";
  src: url("/fonts/sigmarone.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "ms-sans-serif";
  src: url("/fonts/ms-sans-serif.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
